#logo{
    width: 200px;
    height: 31px;
    margin: 0px 45px;
    font-size: 30px;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-1{
  margin-left: 500px;
  margin-top: 5px;
}

#search{
    margin-top: 15px;
    margin-right: 90px;
    height: 30px;
    width: 225px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    font-family: sans-serif;
    font-family: lighter;
    text-align: center;
}

#user-logo{
    margin-right: 50px;
    margin-top: 20px
}

#user{
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    margin-right: 100px;
    margin: 0;
}

#heart-logo{
    margin-right: 50px;
    margin-top: 20px
}

#navbar{
    height: 71px;
    display: flex;
    margin-left: 20px;
}

.brands{
    width: fit-content;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 25px;
    font-family: sans-serif;
    font-weight: light;
    font-size: 13px;
    padding: 8px 15px;
}

#brands{
    margin-left: 550px;
    margin-top: -10px;
    font-size: 13px;
    font-family: sans-serif;
    color: #FF0000;
    font-weight: lighter;
    padding: 7.5px 15px;
}

#announcement-bar {
    width: 100%;
    height: 21px;
    color: #ffffff;
    background-color: #000000;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#announcement-text {
    font-size: 13px;
    font-weight: medium;
    font-family: sans-serif;
}


#image-1{
    width: 100%;
    height: 168px
}

#slider {
    width: 100%;
    height: 550px;
    overflow: hidden; 
    position: relative; 
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; 
    transition: opacity 0.5s ease; 
}

.slider-image.active {
    opacity: 1; 
}

#products-bar{
    width: 100%;
    height: 477px;
    margin: 0px 0px 44px;
}

#cards-holder{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

h1{
    text-align: center;
    font-size: 26px;
    font-family: Tiemanan sans-serif;
    font-weight: lighter;
    margin-top: 20px;
    padding: 0px 22px;
}

#product-images{
    width: 100%;
    height: 371px;
}

.product-image-1{
    width: 203px;
    height: 203px;
    object-fit: cover;
}


.product-name{
    width: fit-content;
    height: 63px;
    font-size: 16px;
    font-family: futura sans-serif;
    font-weight: light;
    text-align: center;
    margin-left: 30px;
}

span{
    font-weight: lighter;
    color: #FF0000;
    margin-left: 5px;
}

.product-price{
    width: fit-content;
    margin-left: 40px;
}

#product-price{
    margin-left: 85px;
    margin-top: 10px;
}

#brand-bar{
    height: 504px;
    padding: 0px 25px;
    display:flex;
    gap: 30px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.brand-image{
    width: 380px;
    height: 454px;
    object-fit: cover;
    margin-top: 25px;
}

#Category-bar{
    height: 717px;
    padding: 0px 25px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    padding: 25px 0px 0px;
}

h2{
    font-size: 33px;
    font-family: futura sans-serif;
    font-weight: lighter;
    text-align: center;
}

#category-holder{
    display: flex;
    gap: 70px;
   margin-left: 10px;
}

.category-name{
    font-size: 14px;
    font-family: futura sans-serif;
    font-weight: lighter;
    text-align: center;
    margin-top: 10px;
}

.category-image{
    width: 174px;
    height: 262px;
}

.category-image:hover{
    transform: scale(1.1);
    transition: 1s;
    cursor: pointer;
}


#slider-2 {
    width: 100%;
    height: 550px;
    overflow: hidden; 
    position: relative; 
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; 
    transition: opacity 0.5s ease; 
}

.image.active {
    opacity: 1; 
}


#new-arrivals-bar{
    width: 100%;
    height: 616px;
    padding: 0px 0px 0px -22px;
}

h4{
    font-size: 32px;
    font-family: futura sans-serif;
    font-weight: lighter;
    text-align: center;
    margin-top: 20px;
}

#view-all{
    font-size: 12px;
    font-family: futura sans-serif;
    font-weight: lighter;
    text-align: center;
    margin:15px 0px 0px;
    padding: 8px 14px;
    background-color: #ffffff;
    border: none;
    margin-left: 580px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#view-all:hover{
    cursor: pointer;
}

.product-image{
    width: 174px;
    height: 262px;
}

.product-names{
 font-size: 14px;
 font-family: futura sans-serif;
 font-weight: lighter;
 text-align: center;
}

.product-price{
    font-size: 13px;
    margin: 5px 0px 0px;
    margin-left: 30px;
}

#bottom-bar{
    height: 589px;
    margin: 0px 0px -22px ;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

#bottom-image-1{
    width: 306px;
    height: 292px;
    margin-top: 10px;
}

h3{
    font-size: 26px;
    font-family: futura sans-serif;
    font-weight: medium;
    margin-left: 30px;
}

.bottom-p{
    font-size: 16px;
    font-family: sans-serif;
    margin-left: 25px;
}

.bottom-button{
    font-size: 12px;
    padding: 8px 14px;
    border: none;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    font-family: futura sans-serif;
    margin-left: 100px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.bottom-button:hover{
    cursor: pointer;
}

#bottom-image-2{
    width: 300px;
    height: 356px;
}

#bottom-image-3{
    width: 306px;
    height: 332px;
}

#bottom-button{
    margin-left: 40px;
    font-size: 12px;
    padding: 8px 14px;
    border: none;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    font-family: futura sans-serif;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#bottom-button:hover{
    cursor: pointer;
}

#fotter-bar{
    height: 551px;
    background-color: #E6E6E6;
    padding: 60px 0px ;
}

#about{
    display: flex;
    padding: 0px 0px 22px;
    margin-top: 20px
}

.about{
    font-size: 15px;
    margin: 0px 0px 20px;
    font-family: sans-serif;
    margin-left: 40px;
}

.about-names{
    font-size: 15px;
    font-family: sans-serif;
    margin: 4px 0px;
    margin-left: 40px;
    color: #000000;
    margin-top: 20px;
}

.about-names{
    cursor: pointer;
}

#fotter-subscribe{
    width: 314px;
    height: 228px;
    padding: 0px 60px 0px 0px;
    text-align: start;
    color: #000000;
    margin-left: 30px;
}

#subscribe{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: lighter;
    margin: 0px 0px 15px;
    color: #000000;
}

#email{
    width: 314px;
    height: 38px;
    text-decoration: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    font-size: 18px;
    color: rgb(164, 160, 160);
    background-color: #ffffff;
    font-family: sans-serif;
    padding: 0px 0px 0px 16px;
}

#subscribe-button{
    width: 330px;
    height: 38px;
    text-decoration: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #000000;
    font-family: sans-serif;
    padding: 11px 0px;
    margin-top: 10px;
}

#social-icons{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    width: 30px;
    height: 30px;
}

 #fotter-logo{
    margin-top: 60px;
    margin-left: 480px;
 
} 


#logo{
    width: 248px;
    height: 104px;
    margin: 0;
}

#copyright{
    font-size: 12px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-right: 20px;
    padding: 7.5px 0px;
}